*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.container{
    margin-top: 20vh;
    background-color: #1c1c1c;
    width: 80vh;
    height: 50vh;
    border-radius: 30px;
    border: 2px solid green;
    box-shadow: inset 0 0 0.5rem 0 #00ff00;
}
.container .header{
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #00ff00;
    font-family: cursive;
    text-align: center;
    color: #00ff00;
}
.container .form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    color: #00ff00;
    font-family: cursive;
    font-size: 20px;
    border-bottom: 2px solid #00ff00;
    padding: 10px 10px;
}
.container .form input{
    width: 140px;
    padding: 7px 7px;
    background-color: black;
    color: #00ff00;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid green;
}
.container .sub-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;

}
.container .sub-btn input{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 5px;
    background-color: #00ff00;
    color: black;
    cursor: pointer;
    border: none;
    box-shadow: inset 0 0 0.5rem 0 #00ff00, 0 0 0.5rem 0 #00ff00;
}

.container .sub-btn input:hover{
    background-color: bisque;
    color: black;
    box-shadow: inset 0 0 0.5rem 0 bisque;
    transition-duration: .5s;
}
#age{
    padding: 20px;
    overflow: hidden;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: #00ff00;
    font-family: cursive;
    text-align: center;
}
@media (max-width: 476px){
    .container .form{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .container{
        height: 55vh;
    }
}
